In [34]:
#In this session, we'll be leaarning about DataFrames and Series.

In [37]:
#A DataFrame is a two-dimensional labeled data structure with multiple sorts of columns.
#A series is a one-dimensional labeled array that can hold any form of data.
#Let's start by creating a group of lists and keys
person ={
    "first" : "Lians",
    "last" :"Wanjiku",
    "email" : "lianswanjiku@gmail.com",
}

In [38]:
data = {'first': ["Lians", "Shem", "Zainab"],
        'last': ["Wanjiku", "Githinji", "Buno"],
        'email': ["lianswanjiku@gmail.com", "smaina@gmail.com", "zainab@gmail.com"]}

In [39]:
#To retrieve only one row
data['email']

['lianswanjiku@gmail.com', 'smaina@gmail.com', 'zainab@gmail.com']

In [40]:
import pandas as pd

In [41]:
df = pd.DataFrame.from_dict(data)

In [36]:
df

   index   first
0      0   Lians
1      1    Shem
2      2  Zainab

In [8]:
#After creating a table format for the dataframe, if we call a row, it prints it out in a better way
df['email']

0    lianswanjiku@gmail.com
1          smaina@gmail.com
2          zainab@gmail.com
Name: email, dtype: object

In [9]:
#Let's try to understand what the emai row is classified as in the data set
type(df['email'])

pandas.core.series.Series

In [10]:
#We can also call it differently
df.email

0    lianswanjiku@gmail.com
1          smaina@gmail.com
2          zainab@gmail.com
Name: email, dtype: object

In [11]:
df[['last','email']]

       last                   email
0   Wanjiku  lianswanjiku@gmail.com
1  Githinji        smaina@gmail.com
2      Buno        zainab@gmail.com

In [12]:
#Since it consists of 2 or more rows, the set changes to be a DtaFrame. 
#Thus we can say that a dataframe is a set of series combinee
type(df[['last','email']])

pandas.core.frame.DataFrame

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
#It returns a series/dataframe that contain values of that line of data that has been indexed.
df.iloc[[0, 1]]

   first      last                   email
0  Lians   Wanjiku  lianswanjiku@gmail.com
1   Shem  Githinji        smaina@gmail.com

In [17]:
#Let's try to print out the email column of the two rows
df.iloc[[0,1,2], 2]

0    lianswanjiku@gmail.com
1          smaina@gmail.com
2          zainab@gmail.com
Name: email, dtype: object

In [35]:
df.reset_index(inplace=True)
df

   index   first
0      0   Lians
1      1    Shem
2      2  Zainab