In [1]:
data = {'first': ["Lians", "Shem", "Zainab"],
        'last': ["Wanjiku", "Githinji", "Buno"],
        'email': ["lianswanjiku@gmail.com", "smaina@gmail.com", "zainab@gmail.com"]}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame.from_dict(data)

In [4]:
df

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
2  Zainab      Buno        zainab@gmail.com

In [12]:
#We are filterning this set to see which one of them has a last name Buno.
filt = (df['last'] == 'Buno')

In [15]:
df[filt]

    first  last             email
2  Zainab  Buno  zainab@gmail.com

In [16]:
df.loc[filt]

    first  last             email
2  Zainab  Buno  zainab@gmail.com