In [8]:
data = {'first': ["Lians", "Shem", "Zainab", "Jane"],
        'last': ["Wanjiku", "Githinji", "Buno", "Doe"],
        'email': ["lianswanjiku@gmail.com", "smaina@gmail.com", "zainab@gmail.com", "jdoe@gmail.com"]}

In [9]:
import pandas as pd
df= pd.DataFrame(data)
df

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
2  Zainab      Buno        zainab@gmail.com
3    Jane       Doe          jdoe@gmail.com

In [10]:
#Let's arrange the df in the order of alphabetical order in ascending order
df.sort_values(by='last')

    first      last                   email
2  Zainab      Buno        zainab@gmail.com
3    Jane       Doe          jdoe@gmail.com
1    Shem  Githinji        smaina@gmail.com
0   Lians   Wanjiku  lianswanjiku@gmail.com

In [11]:
#Let's arrange the df in the order of alphabetical order in descending order
df.sort_values(by ='last', ascending=False)

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
3    Jane       Doe          jdoe@gmail.com
2  Zainab      Buno        zainab@gmail.com

In [12]:
#We can add more columns on the sort list
df.sort_values(by = ['last', 'first'], ascending = False)

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
3    Jane       Doe          jdoe@gmail.com
2  Zainab      Buno        zainab@gmail.com

In [13]:
df.sort_values(by = ['last', 'first'], ascending = [False, True])

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
3    Jane       Doe          jdoe@gmail.com
2  Zainab      Buno        zainab@gmail.com

In [15]:
df.sort_index()

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
2  Zainab      Buno        zainab@gmail.com
3    Jane       Doe          jdoe@gmail.com