In [1]:
data = {'first': ["Lians", "Shem", "Zainab"],
        'last': ["Wanjiku", "Githinji", "Buno"],
        'email': ["lianswanjiku@gmail.com", "smaina@gmail.com", "zainab@gmail.com"]}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    first      last                   email
0   Lians   Wanjiku  lianswanjiku@gmail.com
1    Shem  Githinji        smaina@gmail.com
2  Zainab      Buno        zainab@gmail.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
#Let's try to rename the columns of our dataFrame
df.columns = ['fisrt_name','last_name','email']

In [8]:
df.columns

Index(['fisrt_name', 'last_name', 'email'], dtype='object')

In [9]:
df

  fisrt_name last_name                   email
0      Lians   Wanjiku  lianswanjiku@gmail.com
1       Shem  Githinji        smaina@gmail.com
2     Zainab      Buno        zainab@gmail.com

In [10]:
df.loc[2]

fisrt_name              Zainab
last_name                 Buno
email         zainab@gmail.com
Name: 2, dtype: object